.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.banner-container {
    width: 1100px;
    height: 430px;
    background-image: url("../assets/banner.png");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.quote-container {
    margin-top: 20px;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Georgia', serif;
    color: #333;
    text-align: center;
    width: 80%;
    line-height: 1.5;
}

.motivational-quote {
    font-weight: 600;
}

.about-information {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    transition: border 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-container:hover {
    border: .5px #6b7280;
    background-color: rgba(255, 255, 255, 0.5);
}

.content {
    flex: 1;
    text-align: left;
    padding-left: 17px;
}

.about-heading {
    font-size: 1.8rem;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
    padding-top: 10px;
}

.future-software-engineer {
    font-size: 1.5rem;
    color: #6b7280;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
}

.about-paragraph-container {
    width: 100%;
    padding: 20px;
    margin-top: -20px;
}

.about-paragraph {
    font-size: 1.2rem;
    color: #444;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.college-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.college-img img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-top: -20px;
}

.connect-heading, .my-skill-heading {
    margin-top: 50px;
    font-size: 2rem;
    color: #333;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.social-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon img {
    height: 230px;
    width: 230px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.platform-name {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

.tech-logos {
    display: grid;
    grid-template-columns: repeat(7, 2fr); /* Arrange in 5 columns */
    gap: 50px; /* Space between logos */
    justify-items: center;
    padding: 20px;
  }
  
  .tech-logo {
    width: 100px; /* Set height and width */
    height: 100px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tech-logo:hover {
    transform: scale(1.2); /* Scale up on hover */
  }