@import url("https://fonts.cdnfonts.com/css/ica-rubrik-black");
@import url("https://fonts.cdnfonts.com/css/poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d2d2d2;
    background-image: repeating-linear-gradient(
        to right,
        transparent 0 100px,
        #25283b22 100px 101px
    ),
    repeating-linear-gradient(
        to bottom,
        transparent 0 100px,
        #25283b22 100px 101px
    );
    overflow-x: hidden;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
}

body.dark-mode {
    background-color: #25283b;
}

.banner::before {
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: "";
    background-image: url(../assets/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    position: relative;
}

.content {
    flex: 1;
    text-align: left;
    padding-right: 20px;
    z-index: 2;
}

.content h1 {
    font-size: 3.5em;
    line-height: 1.2em;
    color: #25283b;
    font-family: "ICA Rubrik";
    margin-left: 70px;
    transition: color 0.3s ease-in-out;
}

body.dark-mode .content h1 {
    color: #f0f0f0;
}

.content .sub-heading-index {
    font-size: 5rem;
    line-height: 1.2em;
    color: #25283b;
    font-family: "ICA Rubrik";
    margin-left: 70px;
    transition: color 0.3s ease-in-out;
}

body.dark-mode .content h2 {
    color: #f0f0f0;
}

.content .highlight {
    color: #ff6347; 
}

.model-container {
    flex: 1;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model {
    width: 450px;
    height: 450px;
    background-image: url(../assets/harshit1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.loading {
    border-right: 0.1em solid #ff6347;
    animation: blinkCursor 0.75s step-end infinite;
}

@keyframes blinkCursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #ff6347;
    }
}

.get-started {
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    margin-left: 70px;
    margin-bottom: 20px;
    font-size: 1rem;
    border-radius: 25px;
    background: linear-gradient(45deg, #ff6347, #ff856e);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.get-started {
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
}

.get-started::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
    transition: 0.5s;
}

.get-started:hover::before {
    left: 100%;
}

.header-buttons {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    gap: 10px; /* Space between buttons */
    z-index: 10;
}

.volume-button {
    cursor: pointer;
    background-color: #ff6347;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    transition: transform 0.2s ease;
    margin-right: 90px;
    margin-top: -5px;
}

.volume-button:hover {
    transform: scale(1.1);
}

.volume-button .playing {
    color: #4caf50;
}

.custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #ff6347;
    position: absolute;
    pointer-events: none;
    transition: transform 0.1s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 1000; 
}

.cursor-background {
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    background-color: rgba(255, 99, 71, 0.4); 
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-in-out;
    opacity: 0; 
    z-index: 999; 
}

.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

.dark-mode-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    background-color: #25283b;
    border-radius: 30px;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

body.dark-mode .dark-mode-label {
    background-color: #ff6347;
}

.dark-mode-label .moon,
.dark-mode-label .sun {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.dark-mode-label .moon {
    background-color: #f4c542;
    left: 5px;
}

.dark-mode-label .sun {
    background-color: #ff6347;
    right: 5px;
}

.dark-mode-toggle input[type="checkbox"]:checked + label .moon {
    transform: translateX(30px);
}

.dark-mode-toggle input[type="checkbox"]:checked + label .sun {
    transform: translateX(-30px);
}

.slider {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateClockwise 20s linear infinite;
    z-index: 0;
}

/* @keyframes rotateClockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} */

.slider .item {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: rotate(calc(var(--position) * (360deg / var(--quantity)))) translateY(-340px); /* Fixed distance from center */
    transform-origin: 0 0;
}

.slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.slider .item img:hover {
    transform: scale(1.2); 
}

.html-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(227, 76, 38, 0.8)); 
}

.css-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(38, 77, 228, 0.8));
}

.js-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(240, 219, 79, 0.8)); 
}

.react-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(97, 218, 251, 0.8));
}

.bootstrap-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(86, 61, 124, 0.8)); 
}

.rboot-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(86, 61, 124, 0.8)); 
}

.python-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(53, 114, 165, 0.8));
}

.c-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(0, 136, 204, 0.8)); 
}

.cpp-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(0, 123, 181, 0.8)); 
}

.firebase-icon img:hover {
    filter: drop-shadow(0 0 10px rgba(255, 160, 0, 0.8)); 
}


@media screen and (max-width: 1023px) {
    .content h1 {
        font-size: 2.5em;
    }

    .model-container {
        width: 250px;
        height: 250px;
    }

    .model {
        width: 250px;
        height: 250px;
    }

    .slider {
        width: 500px;
        height: 500px;
    }

    .slider .item {
        width: 60px;
        height: 60px;
        transform: rotate(calc(var(--position) * (360deg / var(--quantity)))) translate(0, -200px);
    }
}

@media screen and (max-width: 767px) {
    .content h1 {
        font-size: 2em;
    }

    .model-container {
        width: 200px;
        height: 200px;
    }

    .model {
        width: 200px;
        height: 200px;
    }

    .slider {
        width: 400px;
        height: 400px;
    }

    .slider .item {
        width: 50px;
        height: 50px;
        transform: rotate(calc(var(--position) * (360deg / var(--quantity)))) translate(0, -150px);
    }
}

.music-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fb923c84;
    border: 2px solid #fdba74;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    height: 200px;
}

.music-popup .popup-para {
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
}

.music-popup button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 80px;
    width: 110px;
    border-radius: 10px;
    font-size: 1.1rem;
}
